@import "../../../variables.scss";

:host {
  --border-radius: 50%;
  --font-size: 15px;
  --position: absolute;
  --size: 20px;
  --right: -20%;
}

.badge {
  background: var(--primary-color);
  border-radius: var(--border-radius);
  width: var(--size);
  height: var(--size);
  position: var(--position);
  top: 0px;
  line-height: var(--size);
  font-size: var(--font-size);
  right: var(--right);
}