@import "../../../variables.scss";
$midnight: #2c3e50;
$clouds: #ecf0f1;

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: var(--white-dark);
  font-size: 12px;
  font-family: var(--font-family);
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--secondary-dark);
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      color: white;
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    color: $midnight;
    background: var(--secondary-color);
    transition: all .35s;
    padding-bottom: 5px;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: var(--secondary-color);
    cursor: pointer;
    &:hover {
      background: var(--secondary-light);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    color: var(--primary-color);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
  }
}
