@import "../../../variables.scss";

:host {
}

.mark {
  //background: linear-gradient(to top right, var(--primary-dark) 0%, var(--primary-color) 100%);
  background: var(--secondary-dark);
  color: rgb(253, 253, 253);
  padding: 10px;
  margin-top: 5px;
}

blockquote {
  border-left: solid 3px var(--primary-color);
  font-family: var(--font-family);
  margin: 8px 2px;
  padding-left: 10px;
  font-size: 12;
  line-height: 14px;
}

blockquote:hover {
  border-left: solid 3px var(--primary-dark);
}

bronco-chip {
  --font-size: 10;
  --font-weight: inherit;
  --height: 20px;
  --margin: 2px 1px;
  --width: auto;
}
