mark {
  border-radius: 5px;
  padding: 2px 2px;
}
mark, mark > * {
  background-color: #92ffaa;
  color: #000;
}

my-marker {
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
  animation: slideOut 0.6s forwards;
}

mark:hover {
  my-marker {
    visibility: visible;
    opacity: 1;
    -webkit-animation: slideIn 0.4 forwards;
    animation: slideIn 0.4s forwards;

  }
}


// @-webkit-keyframes slideIn {
//   100% { -webkit-transform: translateY(0%); }
//   0% { -webkit-transform: translateY(-100%); }
// }

@keyframes slideIn {
  100% {
    -webkit-transform: translate(0%, -100%);
  }
  0% { -webkit-transform: translate(0%, -300%); }
}


// @-webkit-keyframes slideOut {
//   0% { -webkit-transform: translateY(0%); }
//   100% { -webkit-transform: translateY(-100%); }

// }

@keyframes slideOut {
  100% { -webkit-transform: translate(0%, -300%); }
  0% { -webkit-transform: translate(0%, -100%); }
}