:host {
  --primary-color: #00b077;
  --primary-light: #53e3a6;
  --primary-dark: #007f4b;
  --secondary-color: #3d3d3d;
  --secondary-light: #676767;
  --secondary-dark: #171717;
  --highlight-color: #92ffaa;
  --error-color: #c5344e;
  --error-info: #14854e;

  font-family: "WebMarker", Calibri, Candara, Arial, Helvetica, sans-serif;
}

// --primary-color: #488f79;
// --primary-light: #78c0a8;
// --primary-dark: #14614d;
// ACTION COLOR: 53e3a6