:host {
  --primary-color: #00b077;
  --primary-light: #53e3a6;
  --primary-dark: #007f4b;
  --secondary-color: #3d3d3d;
  --secondary-light: #676767;
  --secondary-dark: #2e2d2d;
  --highlight-color: #92ffaa;
  --error-color: #c5344e;
  --error-info: #14854e;
  --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// --primary-color: #488f79;
// --primary-light: #78c0a8;
// --primary-dark: #14614d;
// ACTION COLOR: 53e3a6