
:host {
  z-index: 9999;
  position: absolute;
  min-width: 100px;
  width: 100%;
  left: 0;
  background: rgba(128, 128, 128, 0.219);
}


.markContainer {
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  min-width: 100px;
  display: flex;
  justify-content: center;
}
