
:host {
  z-index: 9999;
  position: absolute;
  left: 0;
  // transform: translateY(calc(-100% - 50px))

}


.markContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  height: 20px;
}
