
:host {
  --bg-color: var(--primary-color);
  --bg-color-focus: var(--primary-color);
  --bg-color-hover: var(--primary-color-hover);
  --bg-color-focus-hover: white;
  --border-radius: 90px;
  --button-color-shadow: rgba(0, 0, 0, 0.2);
  --button-color-shadow-focus: var(--primary-color);
  --color: white;
  --color-focus-hover: var(--primary-color);
  --height: 45px;
  --margin: 10px;
  --min-width: 140px;
  --primary-color: rgb(29, 202, 255);
  --primary-color-hover: rgb(13, 183, 235);
}

button {
  min-width: var(--min-width);
  height: var(--height);
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  margin: var(--margin);
  color: var(--color);
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 300ms ease all;
  box-shadow: 0px 8px 15px var(--button-color-shadow);
  outline: none;
}

button:hover:not(.outline){
  transition: none;
  background-color: var(--bg-color-hover);
}

button:focus {
  box-shadow: 0px 8px 15px var(--button-color-shadow-focus);
}

button:active {
  transform: scale(1.05);
}

// Main settings for borders
.outlineEffect:before,
.outlineEffect:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--primary-color);
  transition: 300ms ease all;
}
.outlineEffect:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.outlineEffect:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.outlineEffectEffect:before,
.outlineEffectEffect:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: white;
}
.outlineEffect:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.outlineEffect:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.outlineEffect:focus:before,
.outlineEffect:focus:after {
  width: 100%;
  transition: 300ms ease all;
  background: var(--primary-color);
}

span {
  display: block;
  padding: 0.4em 0.5em;
}

span::before,
span::after {
  content: "";
  height: 0;
  position: absolute;
  background: var(--primary-color);
}

.outlineEffect:active,
.outlineEffect:focus {
  span::after {
    width: 2px;
    left: 0;
    bottom: 0;
    height: 100%;
    transition: all 0.2s linear;
  }

  span::before {
    width: 2px;
    right: 0;
    top: 0;
    height: 100%;
    transition: all 0.2s linear;
  }
}

// When button is outlined
.outline {
  --bg-color: white;
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.outline:hover {
  --bg-color: var(--primary-color);
  color: white;
}

.outlineEffect:focus {
  border: none;
  background-color: white;
  color: var(--primary-color);;
  border-radius: 0;
}

.outlineEffect:focus:hover {
  background-color: white;
  color: var(--primary-color-hover);
  box-shadow: 0px 8px 15px var(--button-color-shadow-focus);
}
