@import './../../node_modules/@fortawesome/fontawesome-free/scss/_variables.scss';
$fa-font-path: './../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/_icons.scss';

:host {
  position: absolute;
  z-index: 9999;
  left: 50%;

}


.markContainer {
  background: rgb(0, 0, 0);
  padding: 5px;

}

bronco-icon {
  --size: 18px;
  --color: white;
  height: 100%;
}

bronco-icon.active {
  --color: #92ffaa;
}

bronco-icon:hover {
  --color: #92ffaa;
}

.btn {
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

/* Blue */
.info {
  border-color: white;
  color: dodgerblue;
}