
:host {
  z-index: 9999 !important;
  color: white;
  height: 20px;
  width: 80px;
  margin: -10px auto 0px auto;
  margin-bottom: 100px;
  background: black;
}

.menuContainer {
  z-index: 9999 !important;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.icon {
  fill: white;
  color: white;
  width: 20px;
  height: 20px;
  margin: auto;
}

.btn.active .markIcon, .btn:hover .markIcon {
  fill: #92ffaa;
  transform: scale(1.1);
}

.btn.href:hover .hrefIcon {
  transform: rotateZ(360deg);
  transition-duration: 0.3s;
}


.btn {
  z-index: 9999;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  background: none;
  cursor: pointer;
}

button:focus {outline:0;}
