
:host {
  color: white;
}

.menuContainer {
  color: white;
  background: black;
  width: 100px;
}

.icon {
  fill: #92ffaa;
  width: 20px;
  height: 20px;
}

bronco-icon {
  --size: 18px;
  --color: white;
  height: 100%;
}

bronco-icon.active {
  --color: #92ffaa;
}

bronco-icon:hover {
  --color: #92ffaa;
}

.btn {
  z-index: 9999;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* Blue */
.info {
  border-color: white;
  color: dodgerblue;
}

.fa{
  font-family: FontAwesome !important;
 }