@import '../../variables.scss';

div {
  width: 100%;
  display: flex;
  font-family: var(--font-family);
}

blockquote {
  font-size: 14px;
  width: 100%;
  font-style: italic;
  color: #555555;
  padding: 20px 30px 20px 75px;

  line-height: 1.6;
  position: relative;
  color: white;
  background: var(--secondary-dark);
  margin: 0;
}

@media only screen and (min-width: 928px) {
  blockquote {
    border-left: 8px solid var(--primary-color);
  }
}

.mark {
  float: right;
}
mark {
  background: var(--primary-color);
  color: white;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: var(--primary-color);
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote:nth-of-type(even) {
  text-align: right;
  border-right: 8px solid var(--primary-color);
  border-left: none;
  padding: 1.2em 75px 1.2em 30px;
}

blockquote:nth-of-type(even)::before {
  right: 25px;
  top: -10px;
}

blockquote::after {
  content: "";
}
