:host {
  --bg-color: #3d3d3d;
  --color: white;
  --primary-color: #78c0a8;
  --min-height: 0;
  --font-size: 1em;
}

bronco-chip {
  flex: 1 auto;
  padding: 0;
  margin: 0;
}

.chip-list {
  background-color: var(--bg-color);
  border-radius: 10px;
  border-width: 0 0 1px;
  border-bottom: 1px solid;
  border-bottom-color: var(--primary-color);
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 2px 2px 4px 5px #c7c7c7c9;
  min-height: var(--min-height);
}

.chip-list:focus-within {
  box-shadow: 1px 1px 2px 2px var(--primary-color);
}

.chip-list.marked-to-submit {
  box-shadow: 1px 1px 2px 2px #62ff9e;
}

.chip-list > bronco-chip {
  display: flex;
  margin: 2px 2px;
}

input {
  color: var(--color);
  outline: none;
  font-size: var(--font-size);
  border: none;
  padding: 5px;
  flex: 1 auto;
  width: 80px;
  overflow: hidden;
  background: none;
  border-bottom: 1px solid #ffffffc9;
  margin: 0px 5px;
}

input:focus {
  border-bottom: 1px solid var(--primary-color);
}

input:focus .chip-list {
  box-shadow: 1px 1px 2px 2px rgba(126, 0, 0, 0.445);
}

input::placeholder {
  color: #ffffffc9;
}

