:host {
  z-index: 9999 !important;
  position: fixed;
  top: 10px;
  right: 10px;
  min-width: 360px;
  min-height: 360px;
  background: var(--primary-color);
  background: linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  border-radius: 10px;
}
